.chat-main
  .chat-main__group-info
    .left-test-box
      .test-box
        test
      .message-box
        Member : masa
    .right-edit-box
      .edit-btn
        = link_to "#", class: "edit-sentence" do
          Edit

  .chat-main__message-list
  .chat-main__message-form